body {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Tahoma, sans-serif;

}

.container {
    text-align: center;
    margin-top: 40px;
}

.info-box {
    background: #eeeeee;
    border-radius: 12px;
    padding: 28px;
    max-width: 660px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0.6, 0.6);
    line-height: 1.5;
    font-size: 20px;
}

.start-button {
    font-size: 24px;
    color: navy;
    background-color: silver;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 60px;
}

